.button-accent {
    text-align: center;

        @include button ($primary);
        background: $accent;
        padding: 13px 33px;
    
}

.button-primary {
    text-align: center;
    @include button;
    background: $primary;
    padding: 13px 33px;
}