.home {
  //cta
  .cta {
    background: $primary;
    padding: 222px 0;
    h2 {
      @include h3;
      text-align: center;
    }
    p {
      max-width: 90ch;
      margin: 0 auto 45px;
    }
    p:last-child {
      margin: 0 auto;
      text-align: center;
    }
  }

  //about us section
  .about-us {
    --img-offset: 50px;
    --gap: 90px;
    background: $secondary;
    display: flex;
    flex-wrap: wrap;
    .image-container {
      background-color: $accent;
      
      width: calc(50% - #{var(--img-offset)} - #{var(--gap)});
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: relative;
      }
      &.ic-1 {
        margin-left: 50px;
        margin-right: #{var(--gap)};
        img {
          right: var(--img-offset);
          bottom: var(--img-offset);
        }
      }
      &.ic-2 {
        margin-left: #{var(--gap)};
        margin-right: 50px;
        position: relative;
        top: 100px;
        img {
          left: var(--img-offset);
          bottom: var(--img-offset);
        }
      }
    }
    .text-container {
      width: calc(50% - #{var(--img-offset)} - #{var(--gap)});
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      h3 {
        @include h4;
        margin: 0rem;
      }
      &.tc-1 {
        margin-left: 140px;
        padding-right: var(--wrapperMargin);
        align-items: flex-start;
      }
      &.tc-2 {
        margin-right: 140px;
        padding-left: var(--wrapperMargin);
        align-items: flex-end;
        text-align: right;
      }
    }
  }

  //contact
  .contact {
    background: $primary;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 150px;
    & div:first-child {
      margin-left: var(--wrapperMargin);
    }
    & div:nth-child(2) {
      margin-right: var(--wrapperMargin);
      margin-left: 90px;
    }
    & div:nth-child(3) {
      margin-left: var(--wrapperMargin);
      margin-bottom: 75px;
    }
    & div:nth-child(4) {
      margin-right: var(--wrapperMargin);
      margin-left: 90px;
      margin-bottom: 70px;
    }
    img {
      grid-column-end: span 2;
      width: 100%;
      object-fit: cover;
    }
  }
}

